@model Shouty.Person

@{
    ViewBag.Title = "Person: " + Model.Name;
}

<h2>@ViewBag.Title</h2>

<dl>
    <dt>Location</dt>
    <dd>@Model.Location</dd>
    <dt>Heard messages</dt>
    <dd>
        <ul>
            @foreach (var message in Model.MessagesHeard)
            {
                <li class="message">@message</li>
            }
        </ul>
    </dd>
</dl>

<h3>Set Location</h3>
@using (Html.BeginForm("SetLocation", "Person", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.Name"/>
    <label for="lat">Lat:</label><input type="number" name="lat" id="lat"/><br/>
    <label for="lon">Lon:</label><input type="number" name="lon" id="lon"/><br/>
    <input type="submit"/>
}

<h3>Shout!</h3>
@using (Html.BeginForm("Shout", "Person", FormMethod.Post))
{
    <input type="hidden" name="id" value="@Model.Name" />
    <label for="message">Message:</label><input type="text" name="message" id="message" /><br />
    <input type="submit" />
}